.worksPageContainer {
  padding-top: 25px;
}

.worksLeftcol {
 overflow-y: scroll;
}
.works-timeline > li:hover {
  text-decoration: underline;
}
.activeWorksMenuItem > a{
  font-size: large;
  font-weight: bold;
}
.works-timeline > li{
  height: 30px;
}
/* .works-timeline > li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.21em;
  bottom: 0.21em;
  width: 1em;
  background: linear-gradient(
    to bottom, 
    black, black 20%, 
    white 20%, white 40%, 
    black 40%, black 60%, 
    white 60%, white 80%, 
    black 80%, black 100%
  );
} */